
BDBFormation/nfl-big-data-bowl-2024/tracking_week_9.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_8.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_7.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_6.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_5.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_4.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_3.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_2.csv
BDBFormation/nfl-big-data-bowl-2024/tracking_week_1.csv
BDBFormation/nfl-big-data-bowl-2024/tackles.csv
BDBFormation/nfl-big-data-bowl-2024/plays.csv
BDBFormation/nfl-big-data-bowl-2024/players.csv
BDBFormation/nfl-big-data-bowl-2024/games.csv
